a {
    color: #008000;
}

html, body{
	height: 100%;
	min-height: 100%; /*for firefox*/
}

body{
   background-image: url('images/background.jpeg');
   background-position: right bottom; /*Positioning*/
   background-repeat: no-repeat; /*Prevent showing multiple background images*/
   background-color: #DEDEDE;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
}