<!doctype html>
<html>
  <head>
    <title>Homepage</title>  
    <!-- <link rel="stylesheet" type="text/css" href="/static/home/reset.css">  -->
	<link rel="stylesheet" type="text/css" href="/static/home/style.css">  
  </head>

  <body>
    <header>
    <h1>Django Tutorial Example</h1>
    </header>

    <main>
    <p>My Content</p>
    <p><a href="/polls">Polls App</a></p>
    <p><a href="/admin">Admin Directory</a></p>
    <p><a href="https://docs.djangoproject.com/en/1.8/intro/tutorial01/">Tutorial</a></p>
    <p><a href="https://github.com/frankie7413/DjangoTutorial-">Source Code</a></p>

    </main>

    <div id="footer">
    <ul>
    	<li>I am mr meeseeks</li>
    	<li>Look at me!</li>
    </ul>
    </div>

  </body>
</html>